<section class="card neumorphism-card-big">
    <h1 class="title">{{site.blog_title}}</h1>
    <div class="blog-list">
        {% for post in site.posts %}
        <div class="blog-post">
            <h3><a href="{{ post.url }}" class="post-title">{{ post.title }}</a></h3>
            <small class="post-date">{{ post.date | date: "%B %d, %Y" }}</small>
            <div class="post-excerpt">
                {{ post.excerpt | markdownify }}
            </div>
        </div>
        {% endfor %}
    </div>
</section>